<table>
	<tr>
		<td align="left">{{burger_name}}</td>

		<td align="left"><button class="change-devour" data-id="{{id}}" data-newdevour="{{devour}}">
			{{#if devour}}Eat-Da-Burger!{{/if}}
			</button></td>

			<td>&nbsp;</td>
			<td>&nbsp;</td>

		<td align="left"><button class="delete-burger" data-id="{{this.id}}">Delete-Da-Burger!</button></td>
	</tr>
</table>
